.DS_Store
*~
*.pyc
*.o
*.so
*.dylib
_*.py

.build_version

build
bin
lib

.svn

cpp
java
lisp
oct

data

*.sconsign.dblite
*.os

CMakeCache.txt
*.bag

msg_gen
/testing_RobustRouting/launch/foo.launch
/testing_RobustRouting/launch/test3.launch
/testing_RobustRouting/launch/test4.launch
*.csv
*.pdf